<launch>
	<param name="robot_description" command="cat $(find swiftpro)/urdf/model.xacro" />
	<param name="use_gui" value= "False" />

	<node name="write" pkg="swiftpro" type="write" />
	<node name="moveit" pkg="swiftpro" type="moveit" />
	<node name="rviz" pkg="swiftpro" type="rviz" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
